<div class="row row-same-height" style="margin-top: 50px;">
	<div class="col-md-8 col-md-offset-2">
	  <div class="padding-30">
	  	<% if @bank.present? %>
	    <%= form_for @bank, url: {action: "update_bank"}, method: :patch , html: {class: ""} do |f| %>
	      <div class="bg-master-light padding-30 b-rad-lg">
	        <h2 class="pull-left no-margin">Bank Account</h2>
	        <ul class="list-unstyled pull-right list-inline no-margin">
	          <li>
	            <a>
	              <img width="100" height="60" data-src-retina="http://www.chalodeshsudhare.com/hussainka/wp-content/uploads/2016/03/bank_icon-538x270.png" class="brand" alt="logo" src="http://www.chalodeshsudhare.com/hussainka/wp-content/uploads/2016/03/bank_icon-538x270.png">
	            </a>
	          </li>
	        </ul>
	        <div class="clearfix"></div>
	        <div class="form-group form-group-default required m-t-25">
	          <label>Bank Name</label>
	          <%= f.text_field :name , class: 'form-control' %>
	        </div>
	        <div class="form-group form-group-default required">
	          <label>Account Number</label>
	          <%= f.text_field :account_number , class: 'form-control' %>
	        </div>
	        <div class="form-group form-group-default required">
	          <label>Routing Number</label>
	          <%= f.text_field :routing_number , class: 'form-control' %>
	        </div>
	        <div class="form-group form-group-default required">
	          <label>Currency</label>
	          <%= f.text_field :currency , class: 'form-control' %>
	        </div>
	        <div class="form-group form-group-default required">
	          <label>Country</label>
	          <%= f.text_field :country , class: 'form-control' %>
	        </div>
	        <%= f.submit 'Update' , class: 'btn btn-info' , style: 'width: 100%;' %>
	      </div>
	    <% end %>
	    <% else %>
	    <%= form_tag(action: "add_bank", method: "post", class: "") do %>
	      <div class="bg-master-light padding-30 b-rad-lg">
	        <h2 class="pull-left no-margin">Bank Account</h2>
	        <ul class="list-unstyled pull-right list-inline no-margin">
	          <li>
	            <a>
	              <img width="100" height="60" data-src-retina="http://www.chalodeshsudhare.com/hussainka/wp-content/uploads/2016/03/bank_icon-538x270.png" class="brand" alt="logo" src="http://www.chalodeshsudhare.com/hussainka/wp-content/uploads/2016/03/bank_icon-538x270.png">
	            </a>
	          </li>
	        </ul>
	        <div class="clearfix"></div>
	        <div class="form-group form-group-default required m-t-25">
	          <label>Bank Name</label>
	          <%= text_field_tag :name  , '' , class: 'form-control' %>
	        </div>
	        <div class="form-group form-group-default required">
	          <label>Account Number</label>
	          <%= text_field_tag :account_number , '' , class: 'form-control' %>
	        </div>
	        <div class="form-group form-group-default required">
	          <label>Routing Number</label>
	          <%= text_field_tag :routing_number , '' , class: 'form-control' %>
	        </div>
	        <div class="form-group form-group-default required">
	          <label>Currency</label>
	          <%= text_field_tag :currency , '' , class: 'form-control' %>
	        </div>
	        <div class="form-group form-group-default required">
	          <label>Country</label>
	          <%= text_field_tag :country , '' , class: 'form-control' %>
	        </div>
	        <%= submit_tag 'Add' , class: 'btn btn-info' , style: 'width: 100%' %>
	      </div>
	    <% end %>
	    <% end %>
	  </div>
	</div>
</div>