
<div class="page-content-wrapper ">
<!-- START PAGE CONTENT -->
  <div class="content">

  	<div id="chart-container">Data Usage</div>


    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" id="search-table-one" class="form-control pull-right" placeholder="Search">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <table class="table table-hover demo-table-search" id="tableWithSearchOne">
            <thead> 
				<tr> 
					<th width="15%">Wifi</th> 
					<th width="15%">User</th> 
					<th width="15%">Connected At</th> 
					<th width="15%">Disconnected At</th> 
					<th width="15%%">Download Data</th>
					<th width="15%">Upload Data</th>
					<th width="10%">Total Bill</th>
				</tr> 
			</thead> 
			<tbody> 
				<% @connection.each do |connection| %>
					<% if connection.user.present? %>
						<% use = connection.user.name %>
					<% else %>
						<% use = 'Name Missing' %>
					<% end %>

					<% if connection.wifi.present? %>
						<% wif = connection.wifi.name %>
					<% else %>
						<% wif = 'Wifi Missing' %>
					<% end %>
					<tr>
						<td><%= link_to wif, "#wif_mod_#{connection.wifi_id}", "data-toggle" => "modal" %></td>
						<td><%= link_to use, "#user_mod_#{connection.user_id}", "data-toggle" => "modal" %></td>
						<td><%= connection.connected_at.strftime('%I:%M%p %d-%m-%Y') %></td>
						<td><%= connection.disconnected_at.present? ? connection.disconnected_at.strftime('%I:%M%p %d-%m-%Y') : ''  %></td>
						<td><%= connection.download_data %></td>
						<td><%= connection.upload_data %></td>
						<td><%= connection.total_bill %></td>
					</tr>


					<!-- Wifi Modal -->
					  <div class="modal fade" id="wif_mod_<%= connection.wifi_id%>" role="dialog">
					    <div class="modal-dialog">
					    
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title"><%= wif %></h4>
					        </div>
					        <div class="modal-body">
					          <div class="container-fluid bd-example-row">
					          <% if connection.wifi.present? %>
					        	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Owner: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.wifi.lender.email %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Address: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.wifi.address %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Wifi Rating: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<% if connection.wifi.rating > 0 %>
					         			<% connection.wifi.rating.times do |rat| %>
					         			&#x2605
					         			<% end %>
					         			<% else %>
					         			User's doesn't rated this Wifi.
					         			<% end %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>SSID: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.wifi.ssid %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Price Per 100MB: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.wifi.price.round(2) %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Speed: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.wifi.avg_speed < 1024 ? connection.wifi.avg_speed : (connection.wifi.avg_speed/1024).round %>MB
					         		</div>
					         	</div>
					          <% else %>
					          	<div class="row">
					        		<h4>Wifi not present</h4>
					         	</div>
					          <% end %>
					          </div>           
					        </div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        </div>
					      </div>
					      
					    </div>
					  </div>

					<!-- User Modal -->
					  <div class="modal fade" id="user_mod_<%= connection.user_id%>" role="dialog">
					    <div class="modal-dialog">
					    
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title"><%= use %></h4>
					        </div>
					        <div class="modal-body">
					         	<div class="container-fluid bd-example-row">
					         	<% if connection.user.present? %>
						        	<div class="row">
						        		<div class="col-md-4">
						         			<strong>Name: </strong>
						         		</div>
						         		<div class="col-md-8">
						         			<%= connection.user.name %>
						         		</div>
						         	</div>
						         	
						         	<hr>
						         	<div class="row">
						        		<div class="col-md-4">
						         			<strong>Email: </strong>
						         		</div>
						         		<div class="col-md-8">
						         			<%= connection.user.email %>
						         		</div>
						         	</div>
						         	<hr>
						         	<div class="row">
						        		<div class="col-md-4">
						         			<strong>Mobile Number: </strong>
						         		</div>
						         		<div class="col-md-8">
						         			<%= connection.user.mobile_number %>
						         		</div>
						         	</div>
						         	<hr>
						         	<div class="row">
						        		<div class="col-md-4">
						         			<strong>Email Verified: </strong>
						         		</div>
						         		<div class="col-md-8">
						         			<%= connection.user.email_verified ? 'Yes' : 'No' %>
						         		</div>
						         	</div>
						         	
						         	<hr>
						         	<div class="row">
						        		<div class="col-md-4">
						         			<strong>Successfully Terminated: </strong>
						         		</div>
						         		<div class="col-md-8">
						         			<%= connection.user.successfully_terminated ? 'Yes' : 'No' %>
						         		</div>
						         	</div>
						         <% else %>
						         	<div class="row">
						        		<h4>User not present</h4>
						         	</div>
						         <% end %>
					          </div>        
					        </div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        </div>
					      </div>
					      
					    </div>
					  </div>

				<% end %>
			</tbody> 
          </table>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.js"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.powercharts.js"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.theme.fint.js"></script>

<script type="text/javascript">
	FusionCharts.ready(function () {
    var topProductsChart = new FusionCharts({
        type: 'multilevelpie',
        renderAt: 'chart-container',
        id : "myChart",
        width: '100%',
        height: '70%',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "caption": "DataUsage",
                "subCaption": "Lender Wifi's",
                "captionFontSize": "14",
                "subcaptionFontSize": "14",
                "baseFontColor" : "#333333",
                "baseFont" : "Helvetica Neue,Arial",   
                "basefontsize": "9",
                "subcaptionFontBold": "0",
                "bgColor" : "#ffffff",
                "canvasBgColor" : "#ffffff",
                "showBorder" : "0",
                "showShadow" : "0",
                "showCanvasBorder": "0",
                "pieFillAlpha": "60",
                "pieBorderThickness": "2",
                "hoverFillColor": "#cccccc",
                "pieBorderColor": "#ffffff",
                "useHoverColor": "1",
                "showValuesInTooltip": "1",
                "showPercentInTooltip": "0",
                "numberPrefix": "$",
                "plotTooltext": "$label, $percentValue"
            },
            "category": [
                {
                    "label": "Wifi's",
                    "color": "#ffffff",
                    "value": "<%= @wifis.count %>",
                    "category": [

                    <% if @wifis.count > 10 %>
	                  	<% val = 10.0 %>
	                <% else %>
	                  	<% val = ((1*100)/@wifis.count).to_f %>
	                <% end %>

                    <% @wifis.limit(10).each_with_index do |wif,ind| %>
                      <% colr = ['#ff0000' , '#ff8000' , '#ffbf00' , '#bfff00' , '#00ff80' , '#00ffff' , '#0080ff' , '#8000ff' , '#ff0080' , '#00ff80'] %>
                      <% if wif.connections.count > 0 %>
	                      <% dowd = wif.connections.pluck(:download_data).sum %>
	                      <% uplod = wif.connections.pluck(:upload_data).sum %>
	                  <% else %>
	                  	  <% dowd = 1 %>
	                      <% uplod = 1 %>
	                  <% end %>
	                  
	                  <% if ind == 0 %>
	                  	{
                            "label": "<%= wif.name %>",
                            "color": "<%= colr[ind] %>",
                            "value": "<%= val %>",
                            "category": [
                                {
                                    "label": "Download Data",
                                    "color": "<%= colr[ind] %>",
                                    "value": "<%= (dowd/(dowd+uplod)*100).round(2) %>"
                                },
                                {
                                    "label": "Upload Data",
                                    "color": "<%= colr[ind] %>",
                                    "value": "<%= (uplod/(dowd+uplod)*100).round(2) %>"
                                }
	                  <% else %>
	                  	,{
                            "label": "<%= wif.name %>",
                            "color": "<%= colr[ind] %>",
                            "value": "<%= val %>",
                            "category": [
							{
                                "label": "Download Data",
                                "color": "<%= colr[ind] %>",
                                "value": "<%= (dowd/(dowd+uplod)*100).round(2) %>"
                            },
                            {
                                "label": "Upload Data",
                                "color": "<%= colr[ind] %>",
                                "value": "<%= (uplod/(dowd+uplod)*100).round(2) %>"
                            }
	                  <% end %>
	                  ]
                      }
	                <% end %>
                    ]
                }
            ]
        }
    });
    
    topProductsChart.render();
});
</script>

<script type="text/javascript">
	$(window).load(function(){
		$(".raphael-group-3-creditgroup").addClass("hidden");
	});
</script>