
<div class="page-content-wrapper ">
<!-- START PAGE CONTENT -->
  <div class="content">
    <!-- START CONTAINER FLUID -->
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-success btn-lg" style="width: 100%; cursor: initial;">Earnings: $<%= @total_earning > 1000 ? (@total_earning/1000).round(2).to_s+'K' : @total_earning  %></button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-success btn-lg" style="width: 100%; cursor: initial;">Withdrawn: $<%= @withdraw > 1000 ? (@withdraw/1000).round(2).to_s+'K' : @withdraw  %></button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#withdraw" style="width: 100%;">Withdraw Earning</button>
      </div>
    </div>

    <div id="chart-container">Lender Earnings</div>


    <div class="container-fluid container-fixed-lg bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" id="search-table-one" class="form-control pull-right" placeholder="Search">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <table class="table table-hover demo-table-search" id="tableWithSearchOne">
            <thead> 
				<tr> 
					<th width="25%">Wifi Name</th> 
					<th width="25%">Location</th>
					<th width="25%">Total Earning</th> 		 
					<th width="25%">No of connections</th> 
				</tr> 
			</thead> 
			<tbody> 
				<% @wifi.each do |wifi| %>
					<% earn = 0  %>
					<% wifi.connections.each do |conn| %>
						<% earn = earn + conn.total_bill %>
					<% end %>
				<tr>
					<td><%= wifi.name %></td>
					<td><%= wifi.address %></td>
					<td><%= (earn/1000).round(2) %> K</td>
					<td><%= wifi.connections.count %></td>
				</tr>
				<% end %>
			</tbody> 
          </table>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
</div>

<div id="withdraw" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Withdraw Earning</h4>
      </div>
      <div class="modal-body">
        <%= form_tag( lender_withdraw_path , id: "form-personal" , method: "post") do %>
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group form-group-default required">
                  <label>Amount</label>
                  <%= number_field_tag :amount , 10 , class: 'form-control' %>
                </div>
              </div>
            </div>
            <% unless @lender.bank_information.present? %>
              <hr>
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group form-group-default required">
                    <label>Currency</label>
                    <%= text_field_tag :currency , 'USD' , class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group form-group-default required">
                    <label>Country</label>
                    <%= text_field_tag :country , '' , class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group form-group-default required">
                    <label>Bank Name</label>
                    <%= text_field_tag :name , '' , class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group form-group-default required">
                    <label>Routing Number</label>
                    <%= text_field_tag :routing_number , '' , class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-sm-12">
                  <div class="form-group form-group-default required">
                    <label>Account Number</label>
                    <%= text_field_tag :account_number , '' , class: 'form-control' %>
                  </div>
                </div>
              </div>
            <% end %>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Withdraw' , class: "btn btn-success" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.js"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.charts.js"></script>

<script type="text/javascript">  
FusionCharts.ready(function () {
    var revenueChart = new FusionCharts({
        type: 'column2d',
        renderAt: 'chart-container',
        width: '100%',
        height: '70%',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "caption": "Lender's Earnings",
                "subCaption": "Wifi",
                "xAxisName": "Wifi",
                "yAxisName": "Earnings (K)",
                "numberPrefix": "$",
                "paletteColors": "#0075c2",
                "bgColor": "#ffffff",
                "borderAlpha": "20",
                "canvasBorderAlpha": "0",
                "usePlotGradientColor": "0",
                "plotBorderAlpha": "10",
                "placevaluesInside": "1",
                "rotatevalues": "1",
                "valueFontColor": "#ffffff",                
                "showXAxisLine": "1",
                "xAxisLineColor": "#999999",
                "divlineColor": "#999999",               
                "divLineIsDashed": "1",
                "showAlternateHGridColor": "0",
                "subcaptionFontBold": "0",
                "subcaptionFontSize": "14"
            },            
            "data": [
                <% @wifi.limit(12).each_with_index do |wif,ind| %>
                  <% earning = 0 %>
                  <% wif.connections.each do |coni| %>
                    <% earning = earning + coni.total_bill %>
                  <% end %>
                  <% if ind == 0 %>
                    {
                        "label": "<%= wif.name %>",
                        "value": "<%= (earning/1000).round(2) %>"
                    }
                  <% else %>
                    ,{
                        "label": "<%= wif.name %>",
                        "value": "<%=  (earning/1000).round(2) %>"
                    }
                  <% end %>
                <% end %>
            ],
            "trendlines": [
                {
                    "line": [
                        {
                            "startvalue": "<%= ((@total_earning/@wifi.count)/1000).round(2) %>",
                            "color": "#1aaf5d",
                            "valueOnRight": "1",
                            "displayvalue": "Average Wifi Earning"
                        }
                    ]
                }
            ]
        }
    }).render();
});

</script>