<div class="page-content-wrapper ">
<!-- START PAGE CONTENT -->
  <div class="content">
    <div class="row">
      <div class="col-md-6">
        <div id="chart-container"></div>
      </div>
      <div class="col-md-6">
        <div id="wifi-container"></div>
      </div>
    </div>
    <hr>
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Users
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <table class="table table-hover demo-table-search" id="tableWithSearch">
            <thead> 
				<tr> 
					<th >Name</th> 
					<th >Email</th> 		 
					<th >Mobile Number</th> 
					<th>Unblock</th>
				</tr> 
			</thead> 
			<tbody> 
				<% @user_block.each do |user| %>
					<tr>
						<td><%= user.name %></td>
						<td><%= user.email %></td>
						<td><%= user.mobile_number %></td>
						<td><%= link_to('Blocked' , unblock_user_path(user.id) , class: 'btn btn-danger') %></td>
					</tr>
				<% end %>
			</tbody> 
          </table>
        </div>
      </div>
      <!-- END PANEL -->
      <hr>
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Wifis
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" id="search-table-one" class="form-control pull-right" placeholder="Search">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <table class="table table-hover demo-table-search" id="tableWithSearchOne">
            <thead> 
				<tr> 
					<th >Name</th> 
					<th >Address</th> 		 
					<th >SSID</th> 
					<th>Unblock</th>
				</tr> 
			</thead> 
			<tbody> 
				<% @wifi_block.each do |user| %>
					<tr>
						<td><%= user.name %></td>
						<td><%= user.address %></td>
						<td><%= user.ssid %></td>
						<td><%= link_to('Blocked' , unblock_wifi_path(user.id) , class: 'btn btn-danger') %></td>
					</tr>
				<% end %>
			</tbody> 
          </table>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.js"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.charts.js"></script>

<script type="text/javascript">
  FusionCharts.ready(function () {
    var revenueChart = new FusionCharts({
        type: 'doughnut2d',
        renderAt: 'chart-container',
        width: '100%',
        height: '450',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "caption": "User",
                "subCaption": "",
                "numberPrefix": "",
                "paletteColors": "#0075c2,#1aaf5d,#f2c500,#f45b00,#8e0000",
                "bgColor": "#ffffff",
                "showBorder": "0",
                "use3DLighting": "0",
                "showShadow": "0",
                "enableSmartLabels": "0",
                "startingAngle": "310",
                "showLabels": "0",
                "showPercentValues": "1",
                "showLegend": "1",
                "legendShadow": "0",
                "legendBorderAlpha": "0",
                "defaultCenterLabel": "Total users: <%= @user.count %>",
                "centerLabel": "$label: $value",
                "centerLabelBold": "1",
                "showTooltip": "0",
                "decimals": "0",
                "captionFontSize": "14",
                "subcaptionFontSize": "14",
                "subcaptionFontBold": "0"
            },
            "data": [
                {
                    "label": "Blocked",
                    "value": "<%= @user_block.count %>"
                }, 
                {
                    "label": "Unblocked",
                    "value": "<%= @user.where(blocked: false).count %>"
                }
            ]
        }
    }).render();
});
</script>

<script type="text/javascript">
  FusionCharts.ready(function () {
    var revenueChart = new FusionCharts({
        type: 'doughnut2d',
        renderAt: 'wifi-container',
        width: '100%',
        height: '450',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "caption": "Wifi",
                "subCaption": "",
                "numberPrefix": "",
                "paletteColors": "#f45b00,#f2c500,#0075c2,#1aaf5d",
                "bgColor": "#ffffff",
                "showBorder": "0",
                "use3DLighting": "0",
                "showShadow": "0",
                "enableSmartLabels": "0",
                "startingAngle": "310",
                "showLabels": "0",
                "showPercentValues": "1",
                "showLegend": "1",
                "legendShadow": "0",
                "legendBorderAlpha": "0",
                "defaultCenterLabel": "Total wifis: <%= @wifi.count %>",
                "centerLabel": "$label: $value",
                "centerLabelBold": "1",
                "showTooltip": "0",
                "decimals": "0",
                "captionFontSize": "14",
                "subcaptionFontSize": "14",
                "subcaptionFontBold": "0"
            },
            "data": [
                {
                    "label": "Blocked",
                    "value": "<%= @wifi_block.count %>"
                }, 
                {
                    "label": "Unblocked",
                    "value": "<%= @wifi.where(blocked: false).count %>"
                }
            ]
        }
    }).render();
});
</script>