<div class="page-content-wrapper ">
<!-- START PAGE CONTENT -->
  <div class="content">

  <div class="row">
  	<div class="col-md-6">
  		<div id="chart-container">Connections</div>
  	</div>
  	<div class="col-md-6">
  		<div id="rat-container">Ratings</div>
  	</div>
  </div>
  <hr>

    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Connections
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <table class="table table-hover demo-table-search" id="tableWithSearch">
            <thead> 
					<tr> 
						<th>Wifi</th> 
						<th>User</th> 
						<th>Connected At</th> 
						<th>Disconnected At</th> 
						<th>Download Data</th>
						<th>Upload Data</th>
						<th>Bill</th>
					</tr> 
			</thead> 
			<tbody> 
				<% @connection.each do |connection| %>
					<% if connection.user.present? %>
						<% use = connection.user.name %>
					<% else %>
						<% use = 'Name Missing' %>
					<% end %>

					<% if connection.wifi.present? %>
						<% wif = connection.wifi.name %>
					<% else %>
						<% wif = 'Wifi Missing' %>
					<% end %>
				<tr>
					<td><%= link_to wif, "#wif_mod_#{connection.wifi_id}", "data-toggle" => "modal" %></td>
					<td><%= link_to use, "#user_mod_#{connection.user_id}", "data-toggle" => "modal" %></td>
					<td><%= connection.connected_at.strftime('%I:%M%p %d-%m-%Y') %></td>
					<td><%= connection.disconnected_at.present? ? connection.disconnected_at.strftime('%I:%M%p %d-%m-%Y') : ''  %></td>
					<td><%= connection.download_data %></td>
					<td><%= connection.upload_data %></td>
					<td><%= connection.total_bill %></td>
				</tr>


				<!-- Wifi Modal -->
				  <div class="modal fade" id="wif_mod_<%= connection.wifi_id%>" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title"><%= wif %></h4>
				        </div>
				        <div class="modal-body">
				          <div class="container-fluid bd-example-row">
				          <% if connection.wifi.present? %>
				        	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Owner: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= connection.wifi.lender.email %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Address: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= connection.wifi.address %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Latitude: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= connection.wifi.latitude %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Longitude: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= connection.wifi.longitude %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>SSID: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= connection.wifi.ssid %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Price Per 100MB: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= connection.wifi.price.round(2) %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Speed: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= (connection.wifi.avg_speed/1024).round %>MB
				         		</div>
				         	</div>
				          <% else %>
				          	<div class="row">
				        		<h4>Wifi not present</h4>
				         	</div>
				          <% end %>
				          </div>           
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				  </div>

				<!-- User Modal -->
				  <div class="modal fade" id="user_mod_<%= connection.user_id%>" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title"><%= use %></h4>
				        </div>
				        <div class="modal-body">
				         	<div class="container-fluid bd-example-row">
				         	<% if connection.user.present? %>
					        	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Name: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.user.name %>
					         		</div>
					         	</div>
					         	
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Email: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.user.email %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Mobile Number: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.user.mobile_number %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Email Verified: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.user.email_verified ? 'Yes' : 'No' %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Successfully Terminated: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= connection.user.successfully_terminated ? 'Yes' : 'No' %>
					         		</div>
					         	</div>
					         <% else %>
					         	<div class="row">
					        		<h4>User not present</h4>
					         	</div>
					         <% end %>
				          </div>        
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				  </div>


				<% end %>
			</tbody> 
          </table>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.js"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.charts.js"></script>

<script type="text/javascript">
	FusionCharts.ready(function () {
    var revenueChart = new FusionCharts({
        type: 'doughnut2d',
        renderAt: 'chart-container',
        width: '100%',
        height: '450',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "caption": "Connections",
                "subCaption": "",
                "numberPrefix": "",
                "paletteColors": "#0075c2,#1aaf5d,#f2c500,#f45b00,#8e0000",
                "bgColor": "#ffffff",
                "showBorder": "0",
                "use3DLighting": "0",
                "showShadow": "0",
                "enableSmartLabels": "0",
                "startingAngle": "310",
                "showLabels": "0",
                "showPercentValues": "1",
                "showLegend": "1",
                "legendShadow": "0",
                "legendBorderAlpha": "0",
                "defaultCenterLabel": "Total connections: <%= @connect_count %>",
                "centerLabel": "$label: $value",
                "centerLabelBold": "1",
                "showTooltip": "0",
                "decimals": "0",
                "captionFontSize": "14",
                "subcaptionFontSize": "14",
                "subcaptionFontBold": "0"
            },
            "data": [
                {
                    "label": "Connected",
                    "value": "<%= @connect_connected %>"
                }, 
                {
                    "label": "Disconnected",
                    "value": "<%= @connect_disconnected %>"
                }
            ]
        }
    }).render();
});
</script>

<script type="text/javascript">
	FusionCharts.ready(function () {
    var revenueChart = new FusionCharts({
        type: 'doughnut2d',
        renderAt: 'rat-container',
        width: '100%',
        height: '450',
        dataFormat: 'json',
        dataSource: {
            "chart": {
                "caption": "Ratings",
                "subCaption": "",
                "numberPrefix": "",
                "paletteColors": "#0075c2,#1aaf5d,#f2c500,#f45b00,#8e0000,#f09sd2",
                "bgColor": "#ffffff",
                "showBorder": "0",
                "use3DLighting": "0",
                "showShadow": "0",
                "enableSmartLabels": "0",
                "startingAngle": "310",
                "showLabels": "0",
                "showPercentValues": "1",
                "showLegend": "1",
                "legendShadow": "0",
                "legendBorderAlpha": "0",
                "defaultCenterLabel": "Rated connections",
                "centerLabel": "$label: $value",
                "centerLabelBold": "1",
                "showTooltip": "0",
                "decimals": "0",
                "captionFontSize": "14",
                "subcaptionFontSize": "14",
                "subcaptionFontBold": "0"
            },
            "data": [
                {
                    "label": "1 Star",
                    "value": "<%= @star_1 %>"
                }, 
                {
                    "label": "2 Star",
                    "value": "<%= @star_2 %>"
                }, 
                {
                    "label": "3 Star",
                    "value": "<%= @star_3 %>"
                }, 
                {
                    "label": "4 Star",
                    "value": "<%= @star_4 %>"
                }
                , 
                {
                    "label": "5 Star",
                    "value": "<%= @star_5 %>"
                }
            ]
        }
    }).render();
});
</script>