

<div class="page-content-wrapper ">
<!-- START PAGE CONTENT -->
  <div class="content">
	  <div id="chart-container"></div>
	  <hr>
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Reports
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <table class="table table-hover demo-table-search" id="tableWithSearch">
            <thead> 
				<tr> 
					<th width="50%">Description</th>
					<th width="25%">Wifi</th> 
					<th width="25%">User</th> 
				</tr> 
			</thead> 
			<tbody> 
				<% @report.each do |report| %>
					<% if report.user.present? %>
						<% use = report.user.name %>
					<% else %>
						<% use = 'Name Missing' %>
					<% end %>

					<% if report.wifi.present? %>
						<% wif = report.wifi.name %>
					<% else %>
						<% wif = 'Wifi Missing' %>
					<% end %>
				<tr>
					<td><%= report.description %></td>
					<td><%= link_to wif, "#wif_mod_#{report.wifi_id}", "data-toggle" => "modal" %></td>
					<td><%= link_to use, "#user_mod_#{report.user_id}", "data-toggle" => "modal" %></td>	
				</tr>


				<!-- Wifi Modal -->
				  <div class="modal fade" id="wif_mod_<%= report.wifi_id%>" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title"><%= wif %></h4>
				        </div>
				        <div class="modal-body">
				          <div class="container-fluid bd-example-row">
				          <% if report.wifi.present? %>
				        	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Owner: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= report.wifi.lender.email %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Address: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= report.wifi.address %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Latitude: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= report.wifi.latitude %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Longitude: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= report.wifi.longitude %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>SSID: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= report.wifi.ssid %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Price Per 100MB: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= report.wifi.price.round(2) %>
				         		</div>
				         	</div>
				         	<hr>
				         	<div class="row">
				        		<div class="col-md-4">
				         			<strong>Speed: </strong>
				         		</div>
				         		<div class="col-md-8">
				         			<%= (report.wifi.avg_speed/1024).round %>MB
				         		</div>
				         	</div>
				         	<div id="map" style="height: 20vh;"></div>
				          <% else %>
				          	<div class="row">
				        		<h4>Wifi not present</h4>
				         	</div>
				          <% end %>
				          </div>           
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				  </div>

				<!-- User Modal -->
				  <div class="modal fade" id="user_mod_<%= report.user_id%>" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title"><%= use %></h4>
				        </div>
				        <div class="modal-body">
				         	<div class="container-fluid bd-example-row">
				         	<% if report.user.present? %>
					        	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Name: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= report.user.name %>
					         		</div>
					         	</div>
					         	
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Email: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= report.user.email %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Mobile Number: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= report.user.mobile_number %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Email Verified: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= report.user.email_verified ? 'Yes' : 'No' %>
					         		</div>
					         	</div>
					         	<hr>
					         	<div class="row">
					        		<div class="col-md-4">
					         			<strong>Successfully Terminated: </strong>
					         		</div>
					         		<div class="col-md-8">
					         			<%= report.user.successfully_terminated ? 'Yes' : 'No' %>
					         		</div>
					         	</div>
					         <% else %>
					         	<div class="row">
					        		<h4>User not present</h4>
					         	</div>
					         <% end %>
				          </div>        
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				  </div>


				<% end %>
			</tbody>  
          </table>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../plugin/fusionchart/fusioncharts.js"></script>
<script type="text/javascript">
	FusionCharts.ready(function(){
    var salesChart = new FusionCharts({
        type: 'scrollline2d',
        dataFormat: 'json',
        renderAt: 'chart-container',
        width: '100%',
        height: '70%',
        dataSource: {
            "chart": {
                "caption": "Reprorts",
                "subCaption": "This Year",
                "xAxisName": "Month",
                "yAxisName": "Report",
                "showValues": "0",
                "numberPrefix": "",
                "showBorder": "0",
                "showShadow": "0",
                "bgColor": "#ffffff",
                "paletteColors": "#008ee4",
                "showCanvasBorder": "0",
                "showAxisLines": "0",
                "showAlternateHGridColor": "0",
                "divlineAlpha": "100",
                "divlineThickness": "1",
                "divLineIsDashed": "1",
                "divLineDashLen": "1",
                "divLineGapLen": "1",
                "lineThickness": "3",  
                "flatScrollBars": "1",
                "scrollheight": "10",
                "numVisiblePlot": "12",
                "showHoverEffect":"1"
            },
            "categories": [
                {
                    "category": [
                        { "label": "Jan" },
                        { "label": "Feb" },
                        { "label": "Mar" },
                        { "label": "Apr" },
                        { "label": "May" },
                        { "label": "Jun" },
                        { "label": "Jul" },
                        { "label": "Aug" },
                        { "label": "Sep" },
                        { "label": "Oct" },
                        { "label": "Nov" },
                        { "label": "Dec" }
                    ]
                }
            ],
            "dataset": [
                {
                    "data": [
                    <% @thisyear.each_with_index do |earn ,index| %>
                    	<% ind = 1 %>
                    	<% while ind < earn.first.to_i  do %>
						   	<% if ind == 1 %>
			                    {
			                        "value": "0"
			                    }
			            	<% else %>
			            		,{
	                                 "value": "0"
	                             }
			            	<% end %>
			            	<% ind+=1 %>
						<% end %>
	                    <% if index == 0 && ind == 1 %>
			                    {
			                        "value": "<%= (earn.last.count) %>"
			                    }
			            <% else %>
			            		,{
	                                 "value": "<%= (earn.last.count) %>"
	                             }
			            <% end %>
			        
                    <% end %>
                    ]
                }
            ]
        }
    }).render();
});
</script>