

<div class="page-content-wrapper ">
<!-- START PAGE CONTENT -->
  <div class="content">
    <!-- START CONTAINER FLUID -->
    <div class="container-fluid container-fixed-lg bg-white">
      <!-- START PANEL -->
      <div class="panel panel-transparent">
        <div class="panel-heading">
          <div class="panel-title">Paypal
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <input type="text" id="search-table" class="form-control pull-right" placeholder="Search">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <table class="table table-hover demo-table-search" id="tableWithSearch">
            <thead> 
				<tr> 
					<th >Charge ID</th> 
					<th >Amount</th>
					<th>Amount Refunded</th>
					<!-- <th >Currency</th> 	 -->	 
					<th >Wifi</th> 
					<th>User</th>
					<th>Status</th>
					<th>Refund</th>
				</tr> 
			</thead> 
			<tbody> 
				<% @str.data.each do |stripe| %>
					<% st = stripe.description.split(' ')[2] %>
					<% if Connection.exists?(st) %>
						<% conni = Connection.find(st) %>
						<% if conni.wifi.present? %>
							<% wifi_conn = conni.wifi.name %>
						<% else %>
							<% wifi_conn = 'Missing' %>
						<% end %>
						<% if conni.user.present? %>
							<% user_conn = conni.user.email %>
						<% else %>
							<% user_conn = 'Missing' %>
						<% end %>
					<% else %>
						<% user_conn = 'Missing' %>
						<% wifi_conn = 'Missing' %>
					<% end %>
					<tr>
						<td><%= stripe.id %></td>
						<td><%= stripe.amount/100 %></td>
						<td><%= stripe.amount_refunded/100 %></td>
						<!-- <td><%= stripe.currency.upcase %></td> -->
						<td><%= wifi_conn %></td>
						<td><%= user_conn %></td>
						<td><%= stripe.status.capitalize %></td>
						<td><%= (stripe.amount==stripe.amount_refunded) ? 'Refunded' : link_to('Refund' , refund_stripe_path(stripe.id) , class: 'btn btn-danger') %></td>
					</tr>
				<% end %>						
			</tbody>  
          </table>
        </div>
      </div>
      <!-- END PANEL -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
</div>